<%- include('header'); -%>


  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">

    <% for (var i = 0; i < taskToAdd.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p><%= taskToAdd[i] %></p>
    </div>

    <%} %>
    <!--<li><%= taskToAdd %></li> -->

    <form action="/" method="post">
      <input type="text" name="newItem" placeholder="Type in new task" autocomplete="off">
      <button type="submit" name="list" value=<%=listTitle %>>+</button>
    </form>
  </div>

<%- include('footer'); -%>
